.dd-container {
  margin-left: 35px;
  margin-top: 10px;
}

.dd-container .dd-container-left a {
  text-decoration: none;
  color: white;
  margin-left: 15px;
}

.dd-container .dd-container-right .arrow {
  color: white;
  transform: translateY(3px);
}

.dd-item {
  margin-left: 60px;
  margin-top: 10px;
  padding: 16px 8px 16px 8px;
  background-color: #373333;
  min-width: 200px;
  max-width: 250px;
  display: flex;
  justify-content: left;
}

.dd-item > a {
  margin-left: 10px;
  text-decoration: none;
  color: white;
}

.dd-inner-container {
  width: 380px;
}

.dd-container-link {
  display: flex;
  padding: 8px 16px;
  color: #fff;
  margin: 20px;
}

.dd-container-link:hover {
  background: rgba(275, 275, 275, 0.3);
}

.dd-container-child {
  padding-left: 2rem;
}

.dd-container-title {
  flex: 1;
}

.hide {
  display: none;
}

.dd-container-link {
  background: rgb(238, 238, 238);
  padding: 15px 40px;
  border: 1px solid rgb(225, 225, 225);
  border-radius: 5px;
  color: grey;
}

.dd-container-link:hover {
  background: rgba(230, 230, 230, 0.3);
  text-decoration: none;
  color: rgb(56, 198, 188);
}

.dd-container-link svg {
  transform: translateY(4px);
}

.dd-container > .dd-inner-container {
  margin-top: 30px;
}

.alert-container {
  padding: 15px;
  width: 30vw;
}

.alert-bold-text {
  font-weight: 600;
}
