body {
  margin: 0;
  font-family:'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #F2eee8;
}

code, a, p, h1, h2, h3, h4, h5, h6 {
  font-family: 'Source Code Pro', Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* h1, h2, h3, h4, h5, h6 {
  font-family: moret, serif;
  font-weight: 500;
  font-style: normal;
  font-size: 3em;
  color: #373333;
} */
