small {
    font-size: 75%;
  }
   
  .site-title {
    color: ghostwhite;
    text-align: center;
  }
  nav {
    width: 100vw;
  }
  nav .container {
    display: flex;
    justify-content: flex-start;
    padding: 0;
    margin-bottom: 0;
  }
   
  nav .container li {
    flex: 1;
    padding: 10px;
    text-align: center;
    font-size: 1em;
    color: cornsilk;
    box-sizing: border-box;
    background-color: #373333;
    list-style-type: none;
    text-decoration: none;
  }
   
  .nav-link {
    color: cornsilk;
    text-decoration: underline;
    cursor: pointer;
    text-decoration: none;
  }
   
  .nav-link:hover {
    color: #FF686C;
  }